# See http://help.github.com/ignore-files/ for more about ignoring files.

# source code
/src
/public

#vite
vite.config.js
vite.prod.config.js

# dependencies
/node_modules
package.json
package-lock.json

# profiling files
chrome-profiler-events.json
speed-measure-plugin.json

# IDEs and editors
/.idea

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db